/* # is for a unique id */
#head1 {
    color: teal; 
    text-align: center;
}

h1 {
    color: magenta; 
    text-align: center;
}

/* . is for class */
.baz{
    color: blueviolet;
    text-align: center;
}

/* 
-----------------Specificity CSS------------------
    1. inline
    2. id
    3. class
    4. type
*/